{% extends "index.html" %}
{% set active_page = "login" %}
{% block title %}Surfers Only | Home{% endblock %}
{% block header %}Surf Central{% endblock %}

{% block content %}

<div class = "main">
    <div class = "left-side">
        <div class = "greeting">
            <h2>Cowabunga,</h2>
            <h2>{{user.name}}!</h2>
            <h3>Ready to shred some gnar?!</h3>
        </div>
        <div class = "card-container">
            <h3>My Surfers</h3>
            
            {% for request in requests %}
                <div class="card">
                    <div class="card-body">
                        <img class = "profile-pic" src = "../static/images/Logo.png">
                        <div class = "card-info">
                            <h5 class="card-title">{{requests[request].name}}</h5>
                            <p class="card-text">{{requests[request].gender}}, {{requests[request].age}}</p>
                            <a href="/profile/{{requests[request].id}}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
                <p class = "session">Wants to surf in {{request.location}} on {{request.month}} {{request.day}} at {{request.time}}</p>
                <div class = request-decision>
                    <a href="/accept/{{request.id}}" class="btn btn-primary">Accept</a>
                    <a href="/deny/{{request.id}}" class="btn btn-secondary">Deny</a>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <div class = "card-info">
                            <h5>You don't have any session requests right now!</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class = "right-side">
        <div class="card-container">
            <h3>Upcoming Surfs</h3>
            {% for session in upcoming %}
                <div class="card">
                    <div class="card-body date">
                        <div class>
                            <h3>{{session.month}}</h3>
                            <h2>{{session.day}}</h2>
                        </div>
                        <div class = "card-info">
                            <h5 class="card-title">Surfing</h5>
                            <p class="card-text">In {{session.location}} at {{session.time}}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class = "card-info">
                        <h5>No upcoming sessions yet!</h5>
                    </div>
                </div>
            {% endfor %}
                
        </div>
        <h3>My Profile</h3>
        <div class="card">
            <div class="card-body">
                <img class = "profile-pic" src = "../static/images/Logo.png">
                <div class = "card-info">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">{{user.gender}}, {{user.age}}, {{user.zipcode}}</p>
                    <a href="/profile/{{user.id}}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


